﻿@font-face {
    font-family: 'Sukhumvit';
    src: url('../font/sukhumvitset-medium-webfont.eot');
    src: url('../font/sukhumvitset-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/sukhumvitset-medium-webfont.woff2') format('woff2'),
         url('../font/sukhumvitset-medium-webfont.woff') format('woff'),
         url('../font/sukhumvitset-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.loginHeader {
    font-family: 'Sukhumvit';
    font-size: 1.2em;
}

.normalText {
    font-family: 'Sukhumvit';
}

